.vscode/**
.vscode-test/**
out/test/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!node_modules/vscode/**
!node_modules/bufferutil/**
!node_modules/cross-spawn/**
!node_modules/utf-8-validate/**
